* {
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
}

p {
    margin: 0;
}

input, select, button {
    padding: 5px;
}

table {
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #000;
}

table tr > th {
    padding: 5px 10px;
    border: 1px solid #fff;
    word-wrap: break-word;
}
table tr > td {
    padding: 5px 10px;
    border: 1px solid #000;
    word-wrap: break-word;
}

table > thead > tr > th {
    border-bottom: 2px solid #000;
}

table > thead > tr:nth-child(2n-1) > th {
    background-color: #000;
    color: #fff;
}

#header {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

#header > .container > * {
    float: left;
}

#nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#nav > li {
    float: left;
    margin-right: 10px;
    padding: 0;
}

#nav > li > a {
    float: left;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

#footer {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1800px;
    overflow: hidden;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
