* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
}

p {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

input, select, button {
    padding: 5px;
    font-size: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

table {
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #000;
}

table tr > th {
    padding: 5px 10px;
    border: 1px solid #fff;
    word-wrap: break-word;
}
table tr > td {
    padding: 5px 10px;
    border: 1px solid #000;
    word-wrap: break-word;
}

table > thead > tr > th {
    border-bottom: 2px solid #000;
    background-color: #000;
    color: #fff;
}

#header {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

#header > .container > * {
    float: left;
}

#nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#nav > li {
    float: left;
    margin-right: 10px;
    padding: 0;
}

#nav > li > a {
    float: left;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

#footer {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #000;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1800px;
    overflow: hidden;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-width: 1200px;
    max-width: 100%;
    justify-content: center;
}

.head {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.row {
    display: grid;
    flex: 1;
    padding: 8px 0;
    border-top: 1px solid #ddd;
}

.col {
    display: grid;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    align-items: center;
    word-break: break-word;
    vertical-align: middle;
}

.bg-red {
    background-color: #eb2924;
}

.bg-green {
    background-color: #28a745;
}

.bg-blue {
    background-color: #2a2a92;
}

.bg-gray {
    background-color: #6c757d;
}

.color-red {
    color: #eb2924;
}

.color-green {
    color: #28a745;
}

.color-blue {
    color: #2a2a92;
}

.color-gray {
    color: #6c757d;
}
